<h1> Volunteer Application Accepted! </h1>

Hello {{bio.first_name}} {{bio.last_name}},<br>
<br>
Congrats! You have been accepted as a drawchange <b>{{role}}</b>!<br>
<br>
Please head to <a href="drawchange.herokuapp.com">our volunteer portal</a> to register for upcoming events.<br>
Congratulations once again!<br>
<br>
Email info@drawchange.com if you have any questions.
