<h1> Application Submitted Confirmation </h1>

Hello {{bio.first_name}} {{bio.last_name}},<br>
<br>
Unfortunately, we have decided not to move forward with your application.<br>
<br>
Email info@drawchange.com if you have any questions.
