.badge {
  font-weight: 600;
  padding: 0.3em 0.7em;
  border-radius: 0.4rem;
}

.badge--approved {
  background-color: #CDEBD1;
  color: #00860F;
}

.badge--pending {
  background-color: #F8F3BE;
  color: #89850B;
}