<h1> Volunteer Application Confirmation </h1>

Hello {{bio.first_name}} {{bio.last_name}},<br>
<br>
We are writing to confirm your recent registration as a drawchange volunteer.<br>
Our staff will look over your application and reach out to you within the next week.<br>
<br>
No action is needed from you at this time.<br>
Thank you for applying!<br>
<br>
Email info@drawchange.com if you have any questions.
