.Item {
    display: flex;
    justify-content: space-around;

  }

  .singleItem {
    display: flex;
    justify-content: space-around;
    border: 1px solid #999;
  }

  .ItemList {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .ItemList {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    height: 600px;
    margin-left: 80px;
    padding: 0;
    text-align: center;
    width: 50%;
  }

  .spaceside {
    display: flex;
    /* justify-content: flex-end; */
    border: 1px solid #999;
    margin-left: 60%;
    height: 600px;
    border: 1px solid #999;
    margin-right: 80px;
    /* width: 100%; */
  }